<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h1>Edit Listing</h1>

            <form action="/listings/demand/<%= listing._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="demand[title]" value="<%= listing.title %>" required>
                </div>
                <div class="mb-3">
                    <img src="<%= listing.image.url %>" alt="Image" width="300" height="200">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input type="file" class="form-control" name="demand[image]">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Quantity</label>
                    <input type="number" class="form-control" id="price" name="demand[quantity]" value="<%= listing.quantity %>" required>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" id="price" name="demand[price]" value="<%= listing.price %>" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="demand[description]" required><%= listing.description %></textarea>
                </div>
                <div class="mb-3">
                    <label for="State" class="form-label">State</label>
                    <input type="text" class="form-control" id="State" name="demand[state]" value="<%= listing.state %>" required>
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" class="form-control" id="country" name="demand[country]" value="<%= listing.country %>" required>
                </div>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
        </div>
    </div>
</body>
